##### Question 1: Read CSV File
1. Read the CSV file into a DataFrame namely `df`
2. Print the schema of DataFrame `df`.
3. Cache this `df` into memory for reuses below.
4. Show the first 5 rows of the DataFrame `df`

In [36]:
# df = ??
# df.___()?
# df.___()?
# df.___()?

##### Question 2: Count Rows
Count the number of rows in the DataFrame.

In [37]:
# row_count = ?
# print("Number of rows:", row_count)

##### Question 3: Filter Rows
Filter rows where the column 'age' is greater than 30.

In [38]:
# df_03 = ??

##### Question 4: Select Columns
Select only the columns 'name' and 'age'.

In [39]:
# df_04 = ??

##### Question 5: Group By and Aggregate
Group by 'department' and calculate the average 'salary'.

In [40]:
# df_05 = ?

##### Question 6: Rename Column
Rename the column 'name' to 'new_name'.

In [41]:
# df_06 = ??

##### Question 7: Drop Column
Drop the column 'salary' from the DataFrame.

In [42]:
# df_07 = ??

##### Question 8: Add New Column
Add a new column 'bonus' which is 10% of 'salary'.

In [43]:
# df_08 = ??

##### Question 9: Sort DataFrame
Sort the DataFrame by 'age' in descending order.

In [44]:
# df_09 = ??

##### Question 10: Write DataFrame to Parquet
Write the DataFrame to a Parquet file named "output/data.parquet"

In [45]:
# df.____("output/data.parquet")

##### Question 11: Read JSON File
Read a JSON file into a DataFrame.

In [46]:
# df_11 = ??

##### Question 12: Drop Duplicates
Drop duplicate rows based on the 'name' column.

In [47]:
# df_12 = ??

##### Question 13: Check for Null Values
Check for null values in the 'email' column.

In [48]:
# df_13 = ??

##### Question 14: Create Temporary View
Create a temporary view named 'people_view' from the DataFrame.

In [49]:
# df.___ ??
# df_14 = _____("SELECT * FROM people_view")

##### Question 15: SQL Query on DataFrame
Execute an SQL query to select names of people older than 25.

In [50]:
# df_15 = ??

##### Question 16: Join Two DataFrames
Join two DataFrames on the 'id' column.

In [51]:
# df_16 = ??

##### Question 17: Save DataFrame as Delta Table
Save the DataFrame as a Delta table.

In [52]:
# df.write.format("delta").save("output/delta_table")

##### Question 18: Read Delta Table
Read a Delta table into a DataFrame.

In [53]:
# df_18 = ??

##### Question 19: Use UDF (User Defined Function)
Define a UDF to convert names to uppercase and apply it to the 'name' column.
from pyspark.sql.functions import udf, upper

In [54]:
# upper_udf = udf(lambda x: x.upper())
# df_19 = df.____(upper_udf(df.name))

##### Question 20: Extract Year from Date Column
Extract the year from a date column 'hire_date' as a new column named 'hire_year'

In [55]:
from pyspark.sql.functions import year

# df_20 = df.____(year(df.hire_date).alias("hire_year"))

##### Question 21: Create a New DataFrame from Existing Columns
Create a new DataFrame with only 'name', 'age', and 'salary'.

In [56]:
# df_21 = ??

##### Question 22: Pivot Table
Create a pivot table to show total salary by department.

In [57]:
# df_22 = ??
# suggestion: pivot_df = df.groupBy("department").pivot("gender").sum("salary")

##### Question 23: Handle Missing Values
Fill missing values in the 'salary' column with the average salary.

In [58]:
# df_23 = ??

##### Question 24: Convert String to Date Type
Convert the string column 'date_string' to DateType.

In [59]:
# df_24 = ??

##### Question 25: Count Distinct Values
Count distinct values in the 'department' column.

In [60]:
# distinct_count = ??

##### Question 26: Find Maximum Value in a Column
Find the maximum value in the 'salary' column.

In [61]:
# max_salary = ??

##### Question 27: Use Window Functions

In [62]:
from pyspark.sql import Window
from pyspark.sql.functions import rank

# window_spec = Window.partitionBy("department").orderBy(df.salary.desc())
# ranked_df = df.withColumn("rank", rank().over(window_spec))
# ranked_df.____()

##### Question 28: Save DataFrame as CSV with Options
Save the DataFrame as a CSV file with header and compression options.

In [63]:
# df.write.option("header", "true").option("compression", "gzip").csv("output/data.csv")

##### Question 29: Read Multiple Files into a Single DataFrame
Read multiple CSV files from a directory into a single DataFrame.

In [64]:
# df_29 = spark.read.csv("data/*.csv", header=True)