In [ ]:
from notebook_data.common import init_spark

spark, sc = init_spark.create()

In [ ]:
df = spark.read.option('header', True).option('inferSchema', True).csv('notebook_data/w05/data/laptop_prices.csv').cache()

In [ ]:
df.createOrReplaceTempView('table')

In [ ]:
spark.sql('show databases').show()

In [ ]:
spark.sql('show tables').show()

In [ ]:
spark.sql('select * from table').show()

In [ ]:
spark.sql('select * from table where Company="Apple"').show()

In [ ]:
df.write.mode('overwrite').saveAsTable('tbl_laptop_prices')

In [ ]:
spark.sql('select * from tbl_laptop_prices').show()

In [ ]:
df_tbl = spark.table('tbl_laptop_prices')

In [ ]:
df_tbl.show()

In [ ]:
spark.catalog.currentCatalog()

In [ ]:
spark.catalog.currentDatabase()

In [ ]:
spark.catalog.listDatabases()

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.catalog.listFunctions()

In [ ]:
%%markdown
# The following introduces about how to execute Spark SQL using magic command

In [ ]:
%%markdown
### Step 1: Install the Required Package
First, ensure that you have the sparksql-magic package installed. You can install it using pip:

In [ ]:
%pip install sparksql-magic

In [ ]:
%%markdown
### Step 2: Load the Extension
After installing the package, you need to load the sparksql_magic extension in your Jupyter notebook. You can do this by running the following command in a separate cell:

In [ ]:
%load_ext sparksql_magic

In [ ]:
%%markdown
### Step 3: Configure Spark SQL
You can set various configurations for Spark SQL if needed. For example, to set the maximum number of rows to display, you can use:

In [ ]:
%config SparkSql.limit=10

In [ ]:
%%markdown
### Step 4: Use the %sparksql Magic Command
Now you can execute Spark SQL queries directly in your notebook using the %%sparksql cell magic command. Hereâ€™s an example:

In [ ]:
%%sparksql
show namespaces;

In [ ]:
%%sparksql
select current_schema();

In [ ]:
%%sparksql
show tables;

In [ ]:
%%sparksql
select * from tbl_laptop_prices;

In [ ]:
%%sparksql
select Product, count(1) as cnt from tbl_laptop_prices
group by Product
order by cnt desc